body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background: linear-gradient(to top right, yellow, pink);
  font-family: 'Balsamiq Sans', cursive, "Roboto Mono";
  font-size: 25px;
  text-align: justify;
  color: rgb(128, 121, 115);
}

.text-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  flex-direction: column; 
}
.text{
    align-self: center;
    width: 60%;
}

.container p{
    color: rgb(128, 121, 115);
    text-align: center;
}
.container>div {
  height: 100vh;
  
}

/* Swiper container stylng */
.swiper {
  height: 100%;
  width: 50%;
  min-width: 290px;
  touch-action: auto;
}
 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-color: black;
  }

 @media (max-width: 600px) {
    body{
        font-size: 15px;
        
    }
    .text{
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
    }

    .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 5px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-color: black;
  }
    
  }

  